# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
/backend/src/HealthCare.Web.Host/App_Data/Logs/
/backend/src/HealthCare.Web.Mvc/App_Data/Logs/
/backend/src/HealthCare.Migrator/Logs/Logs.txt
/backend/build/outputs/
/backend/docker/mvc/Mvc-Logs/
/backend/src/HealthCare.Web.Host/App_Data/Logs/Logs.txt
