:root {
    --radius: 1.25rem;
}

body {
    font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}

.card {
    border-radius: var(--radius);
    box-shadow: 0 10px 25px rgba(0, 0, 0, .06);
}

.btn {
    border-radius: calc(var(--radius) - .5rem);
}

.slot-btn[disabled] {
    opacity: .4;
    cursor: not-allowed;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: .5rem;
}

.day {
    aspect-ratio: 1/1;
}

.scrollbar-thin::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 9999px;
}

.slot-btn-disabled {
    background: oklch(94.8% 0.028 342.258);
}

#selectorList {
    padding: 3px;
}